:root{
    --darkback:rgb(34, 32, 39);
    --accentblue:lightseagreen;
    --whitetext:ghostwhite;
    --transp-back:rgba(0, 0, 0, 0.705);
}


/* setting background image as background */
html { 
    background: url("/images/THTbackground.png") no-repeat center center fixed; 
    -webkit-background-size: 42%;
    -moz-background-size: 42%;
    -o-background-size: 42%;
    background-size:42%;
    background-color:rgb(236, 229, 229);
  }

  /* Scrollbar stylings */

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--darkback); 
    border-radius: 15px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--accentblue); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(4, 99, 94); 
  }

  /* the track (progress bar) NOT covered by the handle */
  ::-webkit-scrollbar-track-piece{
      background: var(--darkback);
  }



/* globally adjust font color, style, margin, and weight */
*{
    color:var(--whitetext);
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    margin: 0;
    
}


/* Header and nav stylings */

/* header color */
header{
    background-color: var(--darkback);
    opacity: 0.9;
    height: 6vw;
}

/* header positioning and background color */
.nav-name{
    font-size: 3.6rem;
    float:left;
    margin-top: 2vh;
    padding-left: 3vw;
    background-color: var(--accentblue);
    border-radius: .2vw;
}


/* navigation bar position */
.navbar{
    display:flex;
    justify-content: flex-end;
}

/* navigation item decoration */
.navitem{
    margin:2vw;
    text-decoration: underline;
    font-size: 3rem;
    border-radius: .25vw;
}

/* hover effect for navigation bar items */
.navitem:hover{
    background-color: var(--accentblue);
}

/* Active tab will be colored */
.active{
    color: var(--accentblue);
}

/* active tab hover effect to turn back to white for visibility */
.active:hover{
    color:ghostwhite;
}
 
/* landing page main article */
.landing-main{
    background-color: var(--transp-back);
    width: 60%;
    margin: auto;
    margin-top: 2vh;
    border-radius: 2vw;
    font-size: xx-large;
}
 /* group photo on landing page positioning */
.group-photo{
    display: flex;
    justify-content: center;
    padding-top: .5vw;
}

/* text positioning of landing page information */
#landing-info{
   text-align: center;
    margin: 2%;
}




/* about us page stylings */

/* entire section of cards positioning */
.team-cards{
display: flex;
flex-wrap: wrap;
justify-content: center;
}

  /* card photo element */
  .card-link{
      position: relative;
      width:25%;
      margin:2vw;
  }

  /* card photo image sizing */
.card-link img{
    border-radius: 5px;
    width: 25vw;
    background-color: var(--transp-back);
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.37);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    padding: .5vw;
}

/* card photo image hover effect for deeper shadow */
.card-link img:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.658);
}

/* positioning of captions on about link photos */
.about-bottom-left{
    position: absolute;
    bottom: 2vh;
    left: .75vw;
    padding-left: 20px;
    padding-right: 20px; 
    background-color: var(--accentblue);
    border-radius: .5vw;
}

/* positioning of live status of each player default is hidden unless api function turns on, will be done by ID not class */
.live-status{
    /* display:none; */
    position: absolute;
    top: 2vh;
    left: 0vw;
    padding-left: 20px;
    padding-right: 20px; 
    border-radius: .5vw;
}

/* live status icon sizing */
.live-status img{
    width: 10vw;
}

.info-card{
    background-color: var(--transp-back);
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.37);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    width:25%;
    margin:2vw;
    padding: .5vw;
}
  /* info card photo element */
  .info-card-photo{
    position: relative;
}
  /* info card photo image sizing */
  .info-card-photo img{
    border-radius: 5px;
    width: 25vw;
}

/* info about each memebr. */
.member-info{
    padding: 2px 16px;
    font-size:2em;
}




/* content page stylings */

.content-area{
    margin: auto;
    width: 65%;
}


/* rows of content items positioning and dimensions */
.content{
 display:flex;
 flex-direction: column;
 margin-top: 3vw;
 margin-bottom: 3vw;
 gap: 3vw;
}

/* specific content item properties */
.content-box-items{
    position: relative;
    height: 18vw;
}


/* content photo effects */
.content-photos{
    border-style: solid;
    border-radius: 1vw;
    border-color: var(--accentblue);
    filter:saturate(40%);
    transition-duration: .25s;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

/* positioning of captions on content photos */
.bottom-left{
    position: absolute;
    bottom: 1vh;
    left: .5vw;
    padding-left: 20px;
    padding-right: 20px; 
    background-color: var(--accentblue);
    border-radius: .5vw;
}

/* content photo caption sizing */
.photo-caption-h{
    font-size: 2.5rem;
}

.photo-caption-p{
    font-size: 1.25rem;
}

/* content photos photo hover effect */
.content-photos:hover{
    filter:none;
    transition-duration: .25s;
}


/* media queries */

/* medium-small */
@media (max-width: 800px){
    .page-header{
    height: 9vw;
    }
    .nav-name{
     font-size: 2.5rem;
    }
    .navitem{
        font-size: 1.8rem;
    }
    .landing-main{
        width: 95%;
    }
    .group-photo{
        padding-top: 1vw;
    }

    .photo-caption-h{
        font-size: 1.5rem;
    }

    .photo-caption-p{
        font-size: .8rem;
    }

}


/* small */
@media (max-width: 640px){
    .page-header{
        display:flex;
        flex-wrap: wrap;
        height:20vw;
    }
    .group-photo{
        height: 50vw;
    }

}

/* extra small */
@media (max-width: 420px){
    .page-header{
        display:flex;
        flex-wrap: wrap;
    }

    .nav-name{
        font-size: 1.5rem;
    }

     .navitem{
         font-size: 1.5rem;
    }

    .photo-caption-h{
        font-size: .9rem;
    }

    .photo-caption-p{
        font-size: .8rem;
    }

}